<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tm_A</key>
    <string>tm_A_.glif</string>
    <key>tm_Aa</key>
    <string>tm_A_a.glif</string>
    <key>tm_Ai</key>
    <string>tm_A_i.glif</string>
    <key>tm_Anusvara</key>
    <string>tm_A_nusvara.glif</string>
    <key>tm_Au</key>
    <string>tm_A_u.glif</string>
    <key>tm_AuLengthMark</key>
    <string>tm_A_uL_engthM_ark.glif</string>
    <key>tm_CU</key>
    <string>tm_C_U_.glif</string>
    <key>tm_CUu</key>
    <string>tm_C_U_u.glif</string>
    <key>tm_Ca</key>
    <string>tm_C_a.glif</string>
    <key>tm_E</key>
    <string>tm_E_.glif</string>
    <key>tm_Ee</key>
    <string>tm_E_e.glif</string>
    <key>tm_Eight</key>
    <string>tm_E_ight.glif</string>
    <key>tm_Enn</key>
    <string>tm_E_nn.glif</string>
    <key>tm_Five</key>
    <string>tm_F_ive.glif</string>
    <key>tm_Four</key>
    <string>tm_F_our.glif</string>
    <key>tm_Ha</key>
    <string>tm_H_a.glif</string>
    <key>tm_Hundred</key>
    <string>tm_H_undred.glif</string>
    <key>tm_I</key>
    <string>tm_I_.glif</string>
    <key>tm_Ii</key>
    <string>tm_I_i.glif</string>
    <key>tm_Ja</key>
    <string>tm_J_a.glif</string>
    <key>tm_KSsa</key>
    <string>tm_K_S_sa.glif</string>
    <key>tm_KU</key>
    <string>tm_K_U_.glif</string>
    <key>tm_KUu</key>
    <string>tm_K_U_u.glif</string>
    <key>tm_Ka</key>
    <string>tm_K_a.glif</string>
    <key>tm_LU</key>
    <string>tm_L_U_.glif</string>
    <key>tm_La</key>
    <string>tm_L_a.glif</string>
    <key>tm_LlU</key>
    <string>tm_L_lU_.glif</string>
    <key>tm_LlUu</key>
    <string>tm_L_lU_u.glif</string>
    <key>tm_Lla</key>
    <string>tm_L_la.glif</string>
    <key>tm_LllU</key>
    <string>tm_L_llU_.glif</string>
    <key>tm_LllUu</key>
    <string>tm_L_llU_u.glif</string>
    <key>tm_Llla</key>
    <string>tm_L_lla.glif</string>
    <key>tm_MU</key>
    <string>tm_M_U_.glif</string>
    <key>tm_MUu</key>
    <string>tm_M_U_u.glif</string>
    <key>tm_Ma</key>
    <string>tm_M_a.glif</string>
    <key>tm_Maatham</key>
    <string>tm_M_aatham.glif</string>
    <key>tm_Merpadi</key>
    <string>tm_M_erpadi.glif</string>
    <key>tm_NU</key>
    <string>tm_N_U_.glif</string>
    <key>tm_Na</key>
    <string>tm_N_a.glif</string>
    <key>tm_Naal</key>
    <string>tm_N_aal.glif</string>
    <key>tm_NgUu</key>
    <string>tm_N_gU_u.glif</string>
    <key>tm_Nga</key>
    <string>tm_N_ga.glif</string>
    <key>tm_Nine</key>
    <string>tm_N_ine.glif</string>
    <key>tm_NnU</key>
    <string>tm_N_nU_.glif</string>
    <key>tm_Nna</key>
    <string>tm_N_na.glif</string>
    <key>tm_NnnU</key>
    <string>tm_N_nnU_.glif</string>
    <key>tm_Nnna</key>
    <string>tm_N_nna.glif</string>
    <key>tm_NyU</key>
    <string>tm_N_yU_.glif</string>
    <key>tm_Nya</key>
    <string>tm_N_ya.glif</string>
    <key>tm_O</key>
    <string>tm_O_.glif</string>
    <key>tm_Om</key>
    <string>tm_O_m.glif</string>
    <key>tm_One</key>
    <string>tm_O_ne.glif</string>
    <key>tm_Oo</key>
    <string>tm_O_o.glif</string>
    <key>tm_PUu</key>
    <string>tm_P_U_u.glif</string>
    <key>tm_Pa</key>
    <string>tm_P_a.glif</string>
    <key>tm_Patru</key>
    <string>tm_P_atru.glif</string>
    <key>tm_RU</key>
    <string>tm_R_U_.glif</string>
    <key>tm_RUu</key>
    <string>tm_R_U_u.glif</string>
    <key>tm_Ra</key>
    <string>tm_R_a.glif</string>
    <key>tm_RrU</key>
    <string>tm_R_rU_.glif</string>
    <key>tm_Rra</key>
    <string>tm_R_ra.glif</string>
    <key>tm_Rupee</key>
    <string>tm_R_upee.glif</string>
    <key>tm_Sa</key>
    <string>tm_S_a.glif</string>
    <key>tm_Seven</key>
    <string>tm_S_even.glif</string>
    <key>tm_Sha</key>
    <string>tm_S_ha.glif</string>
    <key>tm_Shree</key>
    <string>tm_S_hree.glif</string>
    <key>tm_Six</key>
    <string>tm_S_ix.glif</string>
    <key>tm_Ssa</key>
    <string>tm_S_sa.glif</string>
    <key>tm_TU</key>
    <string>tm_T_U_.glif</string>
    <key>tm_Ta</key>
    <string>tm_T_a.glif</string>
    <key>tm_Ten</key>
    <string>tm_T_en.glif</string>
    <key>tm_Thousand</key>
    <string>tm_T_housand.glif</string>
    <key>tm_Three</key>
    <string>tm_T_hree.glif</string>
    <key>tm_TtI</key>
    <string>tm_T_tI_.glif</string>
    <key>tm_TtIi</key>
    <string>tm_T_tI_i.glif</string>
    <key>tm_TtU</key>
    <string>tm_T_tU_.glif</string>
    <key>tm_TtUu</key>
    <string>tm_T_tU_u.glif</string>
    <key>tm_Tta</key>
    <string>tm_T_ta.glif</string>
    <key>tm_Two</key>
    <string>tm_T_wo.glif</string>
    <key>tm_U</key>
    <string>tm_U_.glif</string>
    <key>tm_Uu</key>
    <string>tm_U_u.glif</string>
    <key>tm_VUu</key>
    <string>tm_V_U_u.glif</string>
    <key>tm_Va</key>
    <string>tm_V_a.glif</string>
    <key>tm_Varavu</key>
    <string>tm_V_aravu.glif</string>
    <key>tm_Varudam</key>
    <string>tm_V_arudam.glif</string>
    <key>tm_Virama</key>
    <string>tm_V_irama.glif</string>
    <key>tm_Visarga</key>
    <string>tm_V_isarga.glif</string>
    <key>tm_VowelAa</key>
    <string>tm_V_owelA_a.glif</string>
    <key>tm_VowelAi</key>
    <string>tm_V_owelA_i.glif</string>
    <key>tm_VowelAu</key>
    <string>tm_V_owelA_u.glif</string>
    <key>tm_VowelE</key>
    <string>tm_V_owelE_.glif</string>
    <key>tm_VowelEe</key>
    <string>tm_V_owelE_e.glif</string>
    <key>tm_VowelI</key>
    <string>tm_V_owelI_.glif</string>
    <key>tm_VowelIi</key>
    <string>tm_V_owelI_i.glif</string>
    <key>tm_VowelO</key>
    <string>tm_V_owelO_.glif</string>
    <key>tm_VowelOo</key>
    <string>tm_V_owelO_o.glif</string>
    <key>tm_VowelU</key>
    <string>tm_V_owelU_.glif</string>
    <key>tm_VowelUu</key>
    <string>tm_V_owelU_u.glif</string>
    <key>tm_YUu</key>
    <string>tm_Y_U_u.glif</string>
    <key>tm_Ya</key>
    <string>tm_Y_a.glif</string>
    <key>tm_Zero</key>
    <string>tm_Z_ero.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni030F</key>
    <string>uni030F_.glif</string>
    <key>uni0311</key>
    <string>uni0311.glif</string>
    <key>uni0326</key>
    <string>uni0326.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
